/* html tag elements */
h1,h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
  font-weight: 800;
    
}
h2
{
    font-weight: 700; 
}
body
{
    font-family:'Montserrat', sans-serif;
    text-align: center;
}
.container-fluid
{
    padding: 3% 15% 7%;
}
/* Color */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section{
    background-color: #fff;
  }
/* navbar */
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar
{
padding: 0 0 4.5rem;
}
.nav-item
{
    padding: 0 18;
}
.nav-link
{
    font-size: 1.2rem;
     font-family: 'Montserrat-light', sans-serif;;
}
/* Tittle section */
.tittlephone
{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
   
}
.download-btn
{
    margin: 5% 3% 5% 0%;
}

/* features */
.features
{
    position: relative;
}
/* fontawsome in features */
.fntaw
{

    color: #ef8172;
    margin-bottom: 1rem;
    
}
.featurepara
{
    color: #8f8f8f;
}
.featurehead
{
    font-family: 'Montserrat', sans-serif;  
  font-weight: 800;
    font-size: 1.5rem;
}
.fntaw:hover
{
    color:#ff4c68;
}
.featurebox
{
    
    padding: 5%;
}
/* testimonial */
.testimonial
{
    background-color: #ef8172;
   
    
}
.containerfluid
{
    padding: 7% 15%;
}

.testionialimg
{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
/* Press */
#press
{
  
    padding-bottom: 3%;

}
.press-logo
{
    width: 15%;
    margin: 20 20 50;
}
/* pricing */

.pricing-col
{ 
    padding: 3% 2%;
}
/* Download btn renotify  */
#cta
{

    padding: 100px 15% 40px;
}

/* footer */
.socialicon
{
   margin: 10px 20px;
}
/* Media qurey to align tittle */
@media(max-width:1000px)
{
    #tittle
    {
        text-align: center;
    }
    .tittlephone
    {
        position: static;
        transform: rotate(0deg);
        width: 60%;
    }
}